<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <div class="frame">
      <div class="div">
        <div class="overlap">
          <img class="image" src="img/image-1.png" />
          <p class="text-wrapper">you are owed Rs. 3000</p>
          <img class="dp-preview" src="img/dn1-removebg-preview-1.png" />
        </div>
        <div class="overlap-group">
          <div class="group">
            <div class="overlap-group-2">
              <div class="text-wrapper-2">Akash Sinhad</div>
              <div class="text-wrapper-3">Rs 350</div>
            </div>
            <div class="ellipse"></div>
          </div>
          <div class="rectangle"></div>
          <div class="rectangle"></div>
        </div>
        <div class="overlap-2">
          <div class="group-2">
            <div class="text-wrapper-4">Amartya</div>
            <div class="ellipse-2"></div>
            <div class="text-wrapper-5">Rs 350</div>
          </div>
          <div class="rectangle"></div>
        </div>
        <div class="overlap-3">
          <div class="group-2">
            <div class="text-wrapper-6">Nidhi</div>
            <div class="ellipse"></div>
            <div class="text-wrapper-7">Rs 350</div>
          </div>
          <div class="rectangle-2"></div>
        </div>
        <div class="overlap-4">
          <div class="group-3">
            <div class="text-wrapper-8">Amartya added “milk”</div>
            <div class="text-wrapper-9">You owe Rs 51</div>
          </div>
          <div class="group-4">
            <div class="text-wrapper-8">Amartya added “milk”</div>
            <div class="text-wrapper-10">You get back Rs 51</div>
          </div>
          <div class="group-5">
            <div class="text-wrapper-8">Amartya added “milk”</div>
            <div class="text-wrapper-9">You owe Rs 51</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
